In [1]:
import pandas as pd
import sqlite3

In [2]:
data_file =  "data/selfspy.sqlite"
conn = sqlite3.connect(data_file)

In [3]:
#  Sample get all using sqlite3

cur = conn.cursor()
query = "SELECT name FROM sqlite_master WHERE type='table';"
cur.execute(query)

In [4]:
print cur.fetchall()

[(u'process',), (u'geometry',), (u'window',), (u'click',), (u'keys',)]

In [5]:
query = "SELECT * from process limit 5;"
cur.execute(query)
print cur.fetchall()

[(1, u'2017-07-13 10:56:07.109292', u'iTerm2'), (2, u'2017-07-13 10:57:51.105748', u'Google Chrome'), (3, u'2017-07-13 11:10:42.301070', u'Code'), (4, u'2017-07-13 11:17:01.757974', u'Microsoft Outlook'), (5, u'2017-07-13 11:21:30.751814', u'Jabber')]

In [6]:
# close 
def closeConn():
    cur.close()
    conn.close()

In [7]:
df = pd.read_sql_query(query, conn)

In [11]:
df.head()

,id,created_at,text,started,process_id,window_id,geometry_id,nrkeys,keys,timings
0,1,2017-07-13 10:56:07.635105,[],2017-07-13 10:56:04.272524,1,1,1,1,"[x, �, �, �, ,  , , ,  , �]","[x, �, �, 6, �, 3, 4, 5, 3, 4, 3, �, 4, 6, �, ..."
1,2,2017-07-13 10:56:19.455629,[],2017-07-13 10:56:07.637083,1,2,1,6,"[x, �, �, �, ,  , , ,  , �]","[x, �, , �, �, \r, , 0, , �, ^, �, , A, ,..."
2,3,2017-07-13 10:57:35.065607,[],2017-07-13 10:57:29.856633,1,1,1,3,"[x, �, �, �, ,  , , ,  , �]","[x, �, , �, \t, \r,  , 1, , , 0, *, , 0, U..."
3,4,2017-07-13 10:57:51.121681,[],2017-07-13 10:57:35.067540,1,2,1,7,"[x, �, �, �, ,  , , ,  , �]","[x, �, , �, �, \r, �, 0, , , [, I, , �, �,..."
4,5,2017-07-13 10:58:32.060803,[],2017-07-13 10:57:51.123180,1,2,1,25,"[x, �, �, �, ,  , , ,  , �]","[x, �, u, Q, �, �, �, @, , j, �, , , E, , ..."

In [10]:
#  keys
def get_keys():
    query = "SELECT * from keys;"
    keys_df = pd.read_sql_query(query, conn)
    return keys_df

,id,created_at,text,started,process_id,window_id,geometry_id,nrkeys,keys,timings
0,1,2017-07-13 10:56:07.635105,[],2017-07-13 10:56:04.272524,1,1,1,1,"[x, �, �, �, ,  , , ,  , �]","[x, �, �, 6, �, 3, 4, 5, 3, 4, 3, �, 4, 6, �, ..."
1,2,2017-07-13 10:56:19.455629,[],2017-07-13 10:56:07.637083,1,2,1,6,"[x, �, �, �, ,  , , ,  , �]","[x, �, , �, �, \r, , 0, , �, ^, �, , A, ,..."
2,3,2017-07-13 10:57:35.065607,[],2017-07-13 10:57:29.856633,1,1,1,3,"[x, �, �, �, ,  , , ,  , �]","[x, �, , �, \t, \r,  , 1, , , 0, *, , 0, U..."
3,4,2017-07-13 10:57:51.121681,[],2017-07-13 10:57:35.067540,1,2,1,7,"[x, �, �, �, ,  , , ,  , �]","[x, �, , �, �, \r, �, 0, , , [, I, , �, �,..."
4,5,2017-07-13 10:58:32.060803,[],2017-07-13 10:57:51.123180,1,2,1,25,"[x, �, �, �, ,  , , ,  , �]","[x, �, u, Q, �, �, �, @, , j, �, , , E, , ..."

In [ ]:
keys_df = get_keys()
keys_df.head()